<div class="starter-template">
  <h1><strong>About</strong></h1>
</div>


<div class="row">
  <div class="col-xs-4"> <%= image_tag "hand with cards.jpg", class: "img-responsive" %></div>
  <body><h4>We are dedicated to the makers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.<br /></br>When we're not hard at work, we're hard at play. We're loud in the bar and we're always the ones shutting the place down. Human creativity and creation is what drives us, and it infuses every feature of gCamp.</h4></body>


</div>
